In [5]:
import numpy as np
import pandas as pd

In [12]:
media = 5
desvio_padrao = 1
quantidade = 200

dados = np.random.normal(media,desvio_padrao,quantidade)

In [13]:
data = pd.DataFrame(dados) #valor de abertura

data

            0
0    5.999273
1    4.244570
2    5.827515
3    6.725291
4    5.863694
..        ...
195  4.364952
196  4.731327
197  4.463536
198  5.168446
199  5.971327

[200 rows x 1 columns]

In [38]:
clientes = ['Cliente'] * quantidade
for i in range(quantidade):
    clientes[i] = clientes[i] + " " + str(i+1)

In [39]:
data.index = clientes

In [40]:
data.columns = ['Tempo de demora']

In [41]:
data

             Tempo de demora
Cliente 1           5.999273
Cliente 2           4.244570
Cliente 3           5.827515
Cliente 4           6.725291
Cliente 5           5.863694
...                      ...
Cliente 196         4.364952
Cliente 197         4.731327
Cliente 198         4.463536
Cliente 199         5.168446
Cliente 200         5.971327

[200 rows x 1 columns]

In [42]:
data.to_csv("dados_teste.csv")