# <font color='blue'> Teste de Hipótese para a média com variância conhecida

## Alunos:
###              João Pedro Farjoun Silva, 13731319
###              Felipe Destaole , 13686768
----

### Iremos fazer nesse trabalho um teste de hipótese referente à seguinte situação hipotética:

### <font color='red'> Introdução

### Na movimentada cidade de Techville, a empresa de telecomunicações ConnectCo operava um dos maiores call centers da região. A eficiência do atendimento ao cliente sempre foi um dos principais focos da empresa, pois sabiam que um bom serviço de atendimento era crucial para manter a satisfação e a lealdade dos clientes.

### <font color='red'> O Desafio 
### Em um dia como outro qualquer, Carla, a gerente do call center, recebeu um relatório preocupante. A média de tempo de atendimento ao cliente estava aumentando, chegando a 5,7 minutos por chamada, enquanto a meta estabelecida era de 5 minutos. Sabendo que a variância do tempo de atendimento era de 4 minutos, Carla decidiu que era hora de investigar mais a fundo e tomar medidas corretivas.

### <font color='red'> A Hipótese
### Após um mês, Carla convocou uma reunião com sua equipe de analistas de dados. Eles decidiram testar a hipótese de que o tempo médio de atendimento desse novo mês seria menor que o anterior. A equipe formulou as seguintes hipóteses:

$X_i \sim N(\mu , \sigma^2)$ com $\sigma^2 conhecido = 2^2 $

$X_1, \ldots, X_n$ amostra aleatória

$H_0: \mu \ge 5.7 $ 

Contra

$H_1: \mu < 5.7$

$RC = \{\bar{x} \in \mathbb{R}; \bar{x} \ge x_c\}$

In [26]:
from scipy.stats import norm
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [27]:
df1 = pd.read_csv('dados_teste.csv')
df1

      Unnamed: 0  Tempo de demora
0      Cliente 1         4.231818
1      Cliente 2         2.394676
2      Cliente 3         6.298389
3      Cliente 4        10.577544
4      Cliente 5         5.882483
..           ...              ...
195  Cliente 196         6.780669
196  Cliente 197         7.519868
197  Cliente 198         5.869833
198  Cliente 199         6.268618
199  Cliente 200         7.530271

[200 rows x 2 columns]

In [64]:
df2 = pd.read_csv('dados_teste2.csv')
df3 = df2['Tempo de demora'][:77]
df3

0     8.501377
1     3.512911
2     5.651510
3     2.598634
4     5.853080
        ...
72    7.046232
73    3.088308
74    5.093845
75    5.689721
76    5.265214
Name: Tempo de demora, Length: 77, dtype: float64

In [65]:
# Dados do exercício

mu0 = sum(df1['Tempo de demora'])/len(df1['Tempo de demora']) #media do mes anterior
sigma = 2
n=len(df1['Tempo de demora'])

xc = norm.ppf(0.05)*(sigma/np.sqrt(n)) + mu0

print('RC = {xbarra >=', np.round(xc,2), '}')

RC = {xbarra >= 5.52 }

In [66]:
xbarra = sum(df3)/len(df3)

print(xbarra)

if xbarra < xc: print ('Rejeito H0')
else: print('Não rejeito H0')

5.075167535853941
Rejeito H0

In [67]:
# Nível descritivo do teste

z_obs = (xbarra - mu0)/(sigma/np.sqrt(n))

print('valor-p', np.round(norm.cdf(z_obs),6))

valor-p 1e-06

### Dessa maneira, vemos que a média de atendimento foi menor que a do mês anterior. Com isso Carla foi elogiada por seu chefe e foi promovida.